flask~=2.2.2
Flask-SQLAlchemy
flask-restful

pip~=22.2.2
Jinja2~=3.1.2
pytz~=2022.2.1
MarkupSafe~=2.1.1
Werkzeug~=2.2.2
click~=8.1.3
itsdangerous~=2.1.2
greenlet~=1.1.2
aniso8601~=9.0.1
setuptools~=63.2.0
SQLAlchemy~=1.4.40
six~=1.16.0